---
import type { DetailsType } from '../../env'
import LayoutProduct from '../../layouts/LayoutProd.astro'
export const details: DetailsType = {
  title: 'Cable Desnudo De Cobre',
  description:
    'Conductores de cobre electrolítico con 99.99% de pureza desnudo. Están construidos en temple duro, semiduro o suave, en forma sólida y cableado concéntrico.',
  image: 'cable-des.webp',
  // url con la direccion del archivo actual en base a astro
}
---

<LayoutProduct title={details.title}>
  <main>
    <h1>{details.title}</h1>
  </main>
</LayoutProduct>
