---
import { DetailsType } from '../../env'
export const details: DetailsType = {
  title: 'Medidor De Lectura Remota Para Tanque De Gas L.p',
  description:
    'Cansad@ de subir ala azotea para ¿verificar que aun hay gas? Olvídate de eso te resolvemos ese problema, presentando en esta ocasión el medidor de lectura remota para tu tanque estacionario de GAS L.P ELGA',
  image: 'elga.webp',
}
---

<main>
  <h1>{details.title}</h1>
</main>
