---
import Layout from '@/layouts/Layout.astro'
import Extenciones from '@/components/Products/Extenciones.astro'
---

<Layout title="Productos">
  <main>
    <h2>Extenciones medidor de gas</h2>
    <Extenciones />
  </main>
</Layout>

<style>
  main {
    @apply font-Roboto px-5 pt-10;
  }
  h2 {
    @apply text-3xl font-bold font-Inter uppercase;
  }
</style>
