---
import type { DetailsType } from '../../env'
import LayoutProd from '@/layouts/LayoutProd.astro'
export const details: DetailsType = {
  title: 'Centro De Carga Squared Qox204',
  description:
    'Centros de carga QOX: Protección premium residencial y comercial con opciones de interruptores avanzados. Diseño estético, certificación NOM, configuraciones flexibles.',
  image: 'qox204.webp',
}
---

<LayoutProd {...details}>
  <main>
    <h1>{details.title}</h1>
    <img
      src={`/prods/${details.image}`}
      alt={details.title}
      transition:name={`image-${details.image}`}
    />
  </main>
</LayoutProd>
