---
import type { DetailsType } from '../../env'
import LayoutProduct from '../../layouts/LayoutProd.astro'
export const details: DetailsType = {
  title: 'Cable uso rudo ',
  description:
    'Cable con conductores flexibles de cobre suave y un aislamiento de policloruro de vinilo (PVC) tipo TW 60°C 600 V en colores distintivos: blanco, verde, rojo y negro. Su cubierta exterior, también de PVC, presenta un acabado en color negro, proporcionando durabilidad y facilidad de identificación en aplicaciones eléctricas.',
  image: '4x14.webp',
  // url con la direccion del archivo actual en base a astro
}
---

<LayoutProduct title={details.title}>
  <main>
    <h1>{details.title}</h1>
  </main>
</LayoutProduct>
