---
import Layout from '../layouts/Layout.astro'
import Prods from '../components/Home/Prods.astro'
import JumpButton from '@/components/Home/JumpButton.astro'
---

<Layout title="OOX | Si lo quieres, OOX lo tiene">
  <main>
    <JumpButton />

    <Prods />
  </main>
</Layout>
