---
import type { DetailsType } from '@/env'
import LayoutProd from '@/layouts/LayoutProd.astro'
import OverviewProd from '@/components/OverviewProd.astro'

export const details: DetailsType = {
  title: 'Medidor Remoto Para Tanque De Gas L.p',
  description:
    'Cansad@ de subir a la azotea para ¿verificar que aun hay gas? Olvídate de eso te resolvemos ese problema, presentando en esta ocasión el medidor de lectura remota para tu tanque estacionario de GAS L.P ELGA',
  image: 'elga.webp',
  urlMercado:
    'https://articulo.mercadolibre.com.mx/MLM-605077949-medidor-de-lectura-remota-para-tanque-de-gas-lp-_JM#position=25&search_layout=grid&type=item&tracking_id=46b9faa0-ca08-4a44-98d5-20fc81d0f1eb',
  urlAmazon:
    'https://www.amazon.com.mx/Medidor-Digital-Gas-LP-Elga/dp/B09C8TSRHC/ref=sr_1_1?m=AO2YXMW0NX1Z&marketplaceID=A1AM78C64UM0Y8&qid=1705594354&s=merchant-items&sr=1-1&ufe=app_do%3Aamzn1.fos.4e545b5e-1d45-498b-8193-a253464ffa47',
  keywords: [],
  popular: true,
}
---

<LayoutProd {...details}>
  <main>
    <OverviewProd {...details} />
  </main>
</LayoutProd>
