---
import type { DetailsType } from '@/env'
import LayoutProduct from '@/layouts/LayoutProd.astro'
import OverviewProd from '@/components/OverviewProd.astro'

export const details: DetailsType = {
  title: 'Medidor De Gas Para Tanque Estacionario Tracker Game-lts',
  description:
    'Medidor remoto GAS L.P TRACKER: Controla carga desde planta baja, evita subir. Instalaci칩n f치cil, lectura precisa en litros',
  image: 'game-lts.webp',
  urlMercado:
    'https://articulo.mercadolibre.com.mx/MLM-1555593325-medidor-de-gas-para-tanque-estacionario-tracker-game-lts-_JM#position=27&search_layout=grid&type=item&tracking_id=3683b008-fe60-4dba-b445-d254037a8e20',
  urlAmazon: '',
  keywords: [
    'Medidor De Gas Tanque Estacionario',
    'Tracker Game-lts',
    'Control Remoto Gas L.P',
    'Instalaci칩n F치cil',
    'Lectura Precisa en Litros',
    'Evita Subir a la Azotea',
    'Monitoreo de Carga',
  ],
  popular: false,
}
---

<LayoutProduct title={details.title}>
  <main>
    <OverviewProd {...details} />
  </main>
</LayoutProduct>
