---
import type { DetailsType } from '@/env'
import LayoutProd from '@/layouts/LayoutProd.astro'
import OverviewProd from '@/components/OverviewProd.astro'

export const details: DetailsType = {
  title: 'Medidor De Gas Kumho Kg2',
  description:
    'El medidor de gas pequeño más adecuado (GLP, GN, aire, gas nitrógeno, gas inerte también disponible).',
  image: 'kumho.webp',
  urlMercado: '',
  urlAmazon: '',
  keywords: [
    'Medidor De Gas Kumho Kg2',
    'Gas GLP',
    'Gas GN',
    'Aire',
    'Gas Nitrógeno',
    'Gas Inerte',
    'Medidor Pequeño',
    'Medición de Gases',
  ],

  popular: false,
}
---

<LayoutProd {...details}>
  <main>
    <OverviewProd {...details} />
  </main>
</LayoutProd>
