---
import type { DetailsType } from '@/env'
import LayoutProd from '@/layouts/LayoutProd.astro'
import OverviewProd from '@/components/OverviewProd.astro'

export const details: DetailsType = {
  title: 'Isentinel Medidor De Gas Lp, Tanque Estacionario Wifi 2.0',
  description:
    'Información de tus cargas realizadas y el nivel de gas de tu tanque a tu celular a través de Internet y por medio de su señal WiFi',
  image: 'sentinel.webp',
  urlMercado: '',
  urlAmazon: '',
  keywords: [
    'Isentinel',
    'Medidor De Gas Lp',
    'Tanque Estacionario',
    'Wifi 2.0',
    'Información de Cargas',
    'Nivel de Gas',
    'Señal WiFi',
    'Monitoreo Remoto',
  ],
  popular: false,
}
---

<LayoutProd {...details}>
  <main>
    <OverviewProd {...details} />
  </main>
</LayoutProd>
