---
import type { DetailsType } from '@/env'
import type { AstroInstance } from 'astro'

type CardProps = { details: DetailsType }

import Card from './Card.astro'
const prods = (await Astro.glob(
  '../../pages/productos/*.astro'
)) as AstroInstance[]
---

<section id="prods">
  {
    prods.map((product: AstroInstance & CardProps) => {
      const details: DetailsType = product.details
      const urlSplit = product.url.split('/').slice(-4).join('/').split('.')[0]
      return <Card {...details} url={urlSplit} />
    })
  }
</section>

<style>
  section {
    @apply grid grid-cols-1 md:grid-cols-3 gap-3 p-3  md:w-3/4 mx-auto;
  }
</style>
