---
interface Props {
  title: string
}

import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
// Supports weights 100-900
import '@fontsource-variable/montserrat'
import '@fontsource/roboto'
// Supports weights 100-900
import '@fontsource-variable/inter'

const { title } = Astro.props
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />

    <meta
      name="keywords"
      content="Medidor de Gas, Medidor Remoto, Tanque de Gas, Gas L.P, Lectura Remota, Tracker Game-lts, Inalámbrico, Nivel de Gas, Instalación Fácil, Medidor Mecánico, GLP, GN, Kumho Kg2, Levelgas, WiFi 2.0, Extensión Medidor Gas, Cable Extensión, Ensamblados de Fábrica"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />

    <!-- Primary Meta Tags -->
    <meta name="title" content="OOX | Si lo quieres, OOX lo tiene" />
    <meta
      name="description"
      content="OOX México tu destino confiable para medidores de gas y accesorios de calidad. Descubre nuestra amplia gama de productos, desde medidores remotos y digitales hasta accesorios inalámbricos y cables de extensión. Con la última tecnología y soluciones innovadoras, hacemos que monitorear y controlar el suministro de gas sea sencillo y seguro. Explora nuestras opciones de medidores mecánicos, dispositivos inalámbricos y accesorios ensamblados de fábrica. ¡Opta por la comodidad y la eficiencia con OOX México y lleva el control de tu gas al siguiente nivel!"
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="ooxmexico.com/" />
    <meta property="og:title" content="OOX | Si lo quieres, OOX lo tiene" />
    <meta
      property="og:description"
      content="OOX México tu destino confiable para medidores de gas y accesorios de calidad. Descubre nuestra amplia gama de productos, desde medidores remotos y digitales hasta accesorios inalámbricos y cables de extensión. Con la última tecnología y soluciones innovadoras, hacemos que monitorear y controlar el suministro de gas sea sencillo y seguro. Explora nuestras opciones de medidores mecánicos, dispositivos inalámbricos y accesorios ensamblados de fábrica. ¡Opta por la comodidad y la eficiencia con OOX México y lleva el control de tu gas al siguiente nivel!"
    />
    <meta property="og:image" content="/oox-and-text.svg" />

    <!-- Twitter -->

    <meta property="twitter:url" content="ooxmexico.com/" />
    <meta
      property="twitter:title"
      content="OOX | Si lo quieres, OOX lo tiene"
    />
    <meta
      property="twitter:description"
      content="OOX México tu destino confiable para medidores de gas y accesorios de calidad. Descubre nuestra amplia gama de productos, desde medidores remotos y digitales hasta accesorios inalámbricos y cables de extensión. Con la última tecnología y soluciones innovadoras, hacemos que monitorear y controlar el suministro de gas sea sencillo y seguro. Explora nuestras opciones de medidores mecánicos, dispositivos inalámbricos y accesorios ensamblados de fábrica. ¡Opta por la comodidad y la eficiencia con OOX México y lleva el control de tu gas al siguiente nivel!"
    />
    <meta property="twitter:image" content="/oox-and-text.svg" />

    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      .bborder {
        @apply border border-black;
      }
      .btn {
        @apply font-Inter rounded-lg;
      }
    </style>
  </body>
</html>
